@import "https://fonts.googleapis.com/css?family=Rubik+One";

* {
	text-decoration: none;
}

.card {
	margin: 20px 20px;
	width: 22rem;
	height: 17rem;
	font-size: 18px;
	background-color: rgba(86, 86, 86, 0.616);
	color: white;
	padding: 18px;
}

.card:hover {
	transform: scale(1.1);
}

.card-title {
	margin-bottom: 15px;
	background-color: rgba(201, 197, 197, 0.134);
	color: white;
}

.iconoClima {
	width: 100px;
	height: 100px;
	margin-left: -100%;
	margin-top: -90%;
}

#closeIcon {
	display: flex;
	justify-content: flex-end;
	margin-right: -8%;
	margin-top: -8%;
}

.card-body {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

#closeButton {
	background-color: rgba(139, 0, 0, 0.483);
	border: none;
}
#closeButton:hover {
	box-shadow: inset 100px 0 0 0 #ffffff2d;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.781);
}

.botonMore {
	min-width: 80px;
	height: 25px;
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: none;
	background: #6c757d;
	box-shadow: 0 5px #495057;
}
.botonMore:hover {
	box-shadow: 0 3px #495057;
	top: 1px;
}
.botonMore:active {
	box-shadow: 0 0 #495057;
	top: 5px;
}
