#barra {
	display: flex;
	justify-content: end;
}

#logoHenry {
	margin-right: 20px;
}

#about {
	height: 60px;
	border-radius: 20px;
	margin-left: -800%;
}

#home {
	height: 60px;
	border-radius: 20px;
}
