#barra {
	display: flex;
	justify-content: end;
}

#about {
	height: 60px;
	border-radius: 20px;
	/* margin-left: -800%; */
}

#home {
	height: 60px;
	border-radius: 20px;
}

.navbar-brand {
	width: 30%;
	display: flex;
	justify-content: space-around;
}
